{{> menu}}

<section class="section">
  <div class="title">
    {{playlist.title}}
  </div>
  <div class="subtitle">
    <br>Shortest Track: {{shortestTrack.title}} by {{shortestTrack.artist}}
  </div>
  {{> list-tracks}}
  {{> add-track}}
</section>